# Database (Turso)
DATABASE_URL="libsql://16-eyes-farmhouse-ui-main-dhiraj-katwe.aws-ap-south-1.turso.io"
DATABASE_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzgxNTIxODgsImlkIjoiMDE5ZTAyMWItNWEwMS03MTdhLWIzMDEtOWNlZjc0ZDQwYjVlIiwicmlkIjoiMDIzNjU2ZGItOGEyZS00NTkwLWE4YmUtMjRhMzMwZjAzNzhjIn0.GaS_1yUiKu9EqKmppCC-kE1uYK5jwmV3DLgFlCXLgNTPO7ASII77sW8UqL2ZcIWxpWfRZIbdLS-DIZxAUi7TDA"

# Server
PORT=3001
JWT_SECRET="your-super-secret-jwt-key"

# Frontend URL (for CORS)
FRONTEND_URL="http://localhost:3000"
